.headerContainer {
    margin-bottom: 2vh;
}

.title:hover {
    cursor: pointer;
}

.instagram {
    transition: transform .3s;
}

.instagram:hover {
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: transform .3s;
    z-index: 999;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
