.bannerContainer {
    border-collapse: separate;
    border-radius: 2px;
    overflow: hidden;
    perspective: 1px;
    transition: transform .2s;
}

.bannerContainer:hover {
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    transform: scale(1.005); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 999;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.content {
    width: 30%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 2px;
    font-size: calc(50vh / 40)
}